html,
body {
    width: 100%;
}

/* Center Content inside parent div */
.titleImage {
    text-align: center;
}

/* awesomplete search result text alignment  */
.awesomplete {
    text-align: left;
}

#search, #submitSearch {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
    display: inline-block;
}


.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}

.forumPostBox {
    border: solid black 2px;
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 7px;
}

.forumPostTitleBox {
    border-bottom: dashed black 2px;
}

#postContainer {
    margin: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}