html,
body {
    width: 100%;
}

/* Center Content inside parent div */
.titleImage {
    text-align: center;
}

/* awesomplete search result text alignment  */
.awesomplete {
    text-align: left;
}

#search, #submitSearch {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
}


.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}